///import css-variables from
$accent-color: #d41443;

$color-black: #000000;
$color-white: #ffffff;

$background-color-1: #ffa5ba;
$background-color-2: #f0d1a5;
$background-color-3: #c2e297;

$color-h2: #d41443;
$color-h1: #ffffff;
$color-h3: #ffa5ba;
$color-lineas: #e18298;

$color-rosa-oscuro: #e17992;
$color-fondo-hero: #ffb8ca;

$primary-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.16);
